#projects {
    height: calc(100vh - 3rem);
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 3rem 1rem;
}

.projectContent {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 300;
    width: 70%;
}

.projectHeader {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    padding: 40px 10px;
    bottom:10%;
}

.projectPara {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    padding: 40px 10px;
}

.dash {
    color: gray;
}

.projectDesc {
    text-align: left;
    color: rgb(173, 173, 173);
    font-size: 1.4rem;
    padding: 40px 10px;
}

.github-logo {
    object-fit: contain;
    max-width: 40%;
    max-height: 40%;
    margin-left: 50px;
    border-radius: 50px;
    position:relative;
    right:7.5%;
    top:-5%;
}