#projects {
    height: calc(100vh - 3rem);
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 3rem 1rem;
}

.projectContent {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 300;
    width: 70%;
}

.projectHeader {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    padding: 40px 10px;
    bottom:10%;
}

.projectPara {
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    padding: 10px 5px;
}

.dash {
    color: gray;
}

.projectDesc {
    text-align: left;
    color: rgb(173, 173, 173);
    font-size: 1rem;
    padding: 5px 5px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: left;
    max-width: 100px;
    margin: 50 ;
}

.card {
    width: 20rem;
    height: 22rem;
    border-radius: 25px;
    background-color: rgb(78, 72, 72);
    color: white;
    border-width: 2px;
    border-color: #424242;
    text-align: left;
    padding: 2rem 2rem;
    transition: all 0.3s ease;
}

.card:hover {
    margin-top: -7px;
    margin-bottom: 7px;
    filter: brightness(140%);
}

.githubLogo {
    height:20px;
    margin-left:5px;
    filter: invert(100%) sepia(0%) saturate(7436%) hue-rotate(161deg) brightness(120%) contrast(114%);
    
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}