.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent; 
    font-family: "Oswald", sans-serif;

}

body{
    background: rgb(31, 31, 31);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}