#skills {
    height: calc(100vh - 3rem);
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 10rem 1rem;
}

.skillsContent {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 300;
    width: 50%;
}

.skillsHeader {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    padding: 40px 10px;
}

.skillsPara {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    padding: 40px 10px;
}

.dash {
    color: gray;
}

.python-logo {
    object-fit: contain;
    max-width: 40%;
    max-height: 40%;
    margin-left: 50px;
    border-radius: 50px;
    position:relative;
    right:7.5%;
    top:5%;
}

.c-logo {
    object-fit: contain;
    max-width: 40%;
    max-height: 40%;
    margin-left: 50px;
    border-radius: 50px;
    position:relative;
    right:7.5%;
    top:5%;
}

.java-logo {
    object-fit: contain;
    max-width: 40%;
    max-height: 40%;
    margin-left: 50px;
    border-radius: 50px;
    position:relative;
    right:7.5%;
    top:5%;
}

.html-logo {
    object-fit: contain;
    max-width: 40%;
    max-height: 40%;
    margin-left: 50px;
    border-radius: 50px;
    position:relative;
    right:7.5%;
    top:5%;
}

.css-logo {
    object-fit: contain;
    max-width: 40%;
    max-height: 40%;
    margin-left: 50px;
    border-radius: 50px;
    position:relative;
    right:7.5%;
    top:5%;
}

.matlab-logo {
    object-fit: contain;
    max-width: 40%;
    max-height: 40%;
    margin-left: 50px;
    border-radius: 50px;
    position:relative;
    right:7.5%;
    top:5%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }