#home {
    height: calc(100vh - 3rem);
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 3rem 1rem;   
    margin-top: 3.5%; 
}

.homeContent {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 300;
    width: 50%;
}

.homeHeader {
    font-weight: bold;
    color: rgb(102, 252, 241);
    font-size: 7rem;
    padding: 40px 10px;
    position: relative;
    bottom: 95%;
    
}

.homePara {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    padding: 40px 10px;
    position:relative;
    bottom:109%;
}

.dash {
    color: gray;
}

.home-gif{
    object-fit: cover;
    max-width: 70%;
    max-height: 70%;
    margin-left: 250px;
    border-radius: 40px;
    position:relative;
    left:55%;
    bottom:7%;
    z-index: 1;
}


.bg-img{
    background-image: url(homebg.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top:-10rem;
    height: 60%;
    width: 500%;
    background-size: 500rem;
    position:relative;
    bottom:45%;
    right:30%;
    filter:blur(8px);
    -webkit-filter: blur(8px);
    z-index: 0;    
}
