.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 250rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 3;
    position:fixed;
    background-color: rgb(20, 20, 20);
}

.logo {
    font-weight: bold;
    object-fit: cover;
    height:12.5rem;
    width:12.5rem;
    margin-top: -25px;
    color: white;
}

.desktopMenuListItem {
    margin: 1rem;
    color: white;
    cursor: pointer;
    font-size: 24px;
}



.desktopMenuListItem:hover {
    color: #66FCF1;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #66FCF1;
}

.active {
    color: #66FCF1;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #66FCF1;
}


.desktopMenuBtn {
    background: #45A29E;
    color: rgb(255, 255, 255);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    border-radius: 5rem;
    font-size: 24px;
}

.desktopMenuBtn:hover {
    background: #5acfc9;
    color: rgb(255, 255, 255);
}

.desktopMenuImg {
    object-fit: cover;
    height: 25px;
    width: 25px;
    margin: 1rem;
}