#intro {
    height: calc(100vh - 3rem);
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 3rem 1rem;
    
}

.introContent {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 300;
    width: 50%;
}

.introPara {
    text-align: left;
    color: rgb(173, 173, 173);
    font-size: 1.4rem;
    padding: 10px;
}

.about {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    padding: 40px 10px;
}

.hello {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    padding: 40px 10px;
}

.name {
    font-weight: bold;
    color: rgb(102, 252, 241);
    font-size: 3rem;
}

.dash {
    color: gray;
}


.img {
    object-fit: contain;
    max-width: 80%;
    max-height: 80%;
    margin-left: 350px;
    border-radius: 50px;
    position:relative;
    right:7.5%;
    top:5%;
    
    
}

